@charset "UTF-8";
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 50px;
  letter-spacing: 2px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  cursor: pointer;
}

.top-bar {
  background-color: #1b1a2f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  font-size: 14px;
}
.top-bar i {
  padding-right: 10px;
}
.top-bar .language-switch img {
  margin-left: 10px;
}
.top-bar ul li {
  margin-right: 20px;
}

nav {
  background-color: rgba(252, 240, 3, 0.1);
  position: absolute; /* fixed вместо absolute, чтобы nav был всегда сверху */
  top: 37;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  height: 106px;
  z-index: 1000; /* Достаточно высокий z-index, чтобы быть поверх слайдера */
}
nav .logo img {
  height: 100px; /* Удвоенная высота */
  width: auto; /* Ширина автоматически, чтобы сохранить соотношение сторон */
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
nav ul li {
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Rubik;
  font-weight: 500;
}
nav ul li a.active {
  color: #e4181f;
}
nav ul li a:hover {
  color: #e4181f;
}
nav a, nav a:hover, nav a:focus {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper-container {
  width: 100%;
  height: auto;
  position: relative;
}

.swiper-slide {
  text-align: center;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  bottom: 50px !important;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  width: auto;
  white-space: nowrap;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: rgba(255, 255, 255, 0.3) !important;
  opacity: 1 !important;
  margin: 0 10px; /* Добавляем отступ между элементами пагинации */
}

.swiper-pagination-bullet-active {
  background: #e4181f !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet:hover {
  background: #e4181f !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  padding: 0 10px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #e4181f;
  color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px !important;
  color: #fff;
  font-weight: 500;
}

.swiper-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: calc(36px + 1.5vw);
  font-size: calc(42px + 1.5vw);
  z-index: 100;
  top: 35%;
  width: 100%;
  font-family: Roboto;
}

.basic-button {
  background-color: rgb(27, 26, 47);
  color: #fff;
  text-transform: uppercase;
}

.basic-button:hover {
  background-color: #e4181f;
}

.basic-button:active {
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.button-container {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 65%;
}
.button-container a {
  text-decoration: none;
}

.apply-button {
  position: relative;
  cursor: pointer;
  height: 58px;
  width: 130px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-family: Rubik;
  z-index: 25;
}

.video {
  margin: 130px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video video {
  padding: 0 15px;
}
.video img {
  padding: 0 15px;
}

.advantages {
  font-family: Poppins;
  color: #333146;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1240px;
  margin: auto;
  margin-bottom: 130px;
}
.advantages i {
  font-size: 60px;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.advantages-card {
  -webkit-box-shadow: 0px 0px 90px 0px rgba(47, 47, 47, 0.1);
          box-shadow: 0px 0px 90px 0px rgba(47, 47, 47, 0.1);
  text-align: center;
  position: relative;
  padding: 50px 40px 40px;
}

.card-container:nth-of-type(odd) .advantages-card {
  border-radius: 40px 0px 40px 0px;
}

.card-container:nth-of-type(even) .advantages-card {
  border-radius: 0px 40px 0px 40px;
}

.advantages-card::before {
  height: 2px;
  width: 90%;
  left: 0;
  background: #1b1a2f;
  bottom: 0;
  position: absolute;
  content: "";
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.advantages-card:hover {
  color: #e4181f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.advantages-card:hover::before {
  background: #e4181f;
}

#second-card::before {
  left: auto;
  right: 0;
  background: #e4181f;
}

#second-card i {
  color: #e4181f;
}

.card-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0 15px;
}

.card-title {
  font-weight: 700;
  font-size: 25px;
  padding: 0px;
  line-height: 34px;
}

.card-description {
  font-size: 15px;
  font-weight: 300;
  padding-top: 15px;
  margin: 0;
  color: #6a7a83;
  font-family: Rubik;
}

.courses {
  font-family: Poppins;
  color: #333146;
  padding: 130px 0 80px;
  background: #f6f8fa;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courses-container {
  max-width: 1240px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; /* Добавлено для переносов */
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.course-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%; /* Уменьшаем ширину карточек */
  max-width: 30%; /* Уменьшаем максимальную ширину */
  margin: 50px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
  background: #fff;
}

.image-wrapper {
  width: 100%;
  overflow: hidden; /* Обрезаем выходящее изображение */
}

.course-link {
  display: block;
  width: 100%;
}

.course-card-image {
  width: 100%;
  -webkit-transform: scale(1) rotate(0deg);
      -ms-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.course-card-image:hover {
  -webkit-transform: scale(1.1) rotate(4deg);
      -ms-transform: scale(1.1) rotate(4deg);
          transform: scale(1.1) rotate(4deg);
}

.courses-info {
  width: calc(100% - 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courses-title {
  color: #323232;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  margin-top: 15px;
}

.courses-more-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 15px;
}

.courses-button {
  text-decoration: none;
  padding: 0 20px;
  color: #fff;
  background: #e4181f;
  font-weight: 500;
  font-family: Rubik;
}

.info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.info-form {
  background-color: #fff;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 90px 0px rgba(47, 47, 47, 0.1);
          box-shadow: 0px 0px 90px 0px rgba(47, 47, 47, 0.1);
  width: 20%;
  margin-right: 50px;
}

.info-form h2 {
  font-size: 36px;
  color: #333146;
  letter-spacing: 0;
  text-align: center;
  font-weight: 700;
}

.info-form .form-group {
  margin-bottom: 15px;
}

.info-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-form .icon {
  margin-right: 15px;
}

.info-form input {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #d7d7d7;
  font-size: 16px;
}

input[type=text],
input[type=email],
input[type=tel] {
  border: none;
  border-bottom: 1px solid #d7d7d7;
  -webkit-transition: border-bottom-color 0.3s ease;
  transition: border-bottom-color 0.3s ease;
  font-family: Rubik;
  height: 50px;
  font-size: 15px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus {
  outline: none;
  border-bottom-color: #1b1a2f;
}

label i {
  color: #d7d7d7;
}

.button-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px 0;
}

.info-form button {
  padding: 0 55px;
  height: 50px;
  background-color: #1b1a2f;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.info-content {
  padding: 100px 0 0 60px;
  max-width: 40%;
}

.info-content h3 {
  font-size: 1.75rem;
  line-height: 70px;
  font-weight: 700;
  color: #fff;
}

.highlight {
  color: #ffb606;
}

.info-content h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  color: #fff;
  font-family: Poppins;
}

.info-content p {
  font-size: 20px;
  color: #fff;
  padding-top: 30px;
  font-family: Rubik;
  font-weight: 400;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.stat-item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.stat-number {
  font-size: 40px;
  color: #e4181f;
  font-weight: 700;
}

.stat-label {
  font-size: 20px;
  line-height: 40px;
  color: #fff;
}