body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-size: 50px;
    letter-spacing: 2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
}

.floating-container {
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 100000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

@media screen and (max-width: 1149px) {
    .floating-container {
        right: 6%;
    }
}

@media screen and (max-width: 767px) {
    .floating-container {
        right: 2%;
    }
}

.whatsapp-container {
    position: relative;
    display: flex;
    align-items: center;

    & i {
        margin-top: 4px;
    }
}

.whatsapp-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.whatsapp-button i {
    font-size: 24px;
}

.whatsapp-button:hover {
    background-color: #1ebe57;
}

.whatsapp-text-bubble {
    background-color: white;
    border-radius: 5px;
    padding: 7px 15px;
    box-shadow: rgb(0 0 0 / 10%) 2px 2px 13px;
    position: absolute;
    left: -120px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(226, 226, 226);
}

.whatsapp-text {
    font-size: 16px;
    color: black;
}

.whatsapp-text-bubble:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent white;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.1));
}

.scroll-to-top {
    opacity: 0;
    visibility: hidden;
    background-color: #e4181f; 
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-to-top i {
    font-size: 24px;
}

.scroll-to-top:hover {
    background-color: #1b1a2f;
    transition: all 0.3s ease-in-out;
}

.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
}

.top-bar {
    background-color: #1b1a2f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;

    & i {
        padding-right: 10px;    
    }
    
    
    & .language-switch img {
        margin-left: 10px;
        cursor: pointer;
    }

    & ul li {
        margin-right: 20px;
    }
}

@media screen and (max-width: 1149px) {
    .top-bar {
        padding: 5px 10px;
    }
    
    .top-bar ul li {
        margin-right: 5px;
    }
}

@media screen and (max-width: 767px) {
    .top-bar {
        width: 100%;
        height: 100%;
        text-align: center;
        flex-direction: column;
        padding-top: 15px;

        & ul {
            flex-direction: column;
        }

        & ul li {
            padding-bottom: 5px;
        }
    }
    .contact-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


nav {
    background-color: rgba(252, 240, 3, 0.1);
    position: absolute; 
    top: 37;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    height: 106px;
    z-index: 1000; 

    & .logo img {
        height: 100px; 
        width: auto; 
    }

    & ul {
        display: flex;
        list-style: none;
    }

    & ul li {
        margin-right: 20px;
    }

    & ul li a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-family: Rubik;
        font-weight: 500;
    }

    & ul li a.active {
        color: #e4181f;
    }

    & ul li a:hover {
        color: #e4181f;
    }

    & a, a:hover, a:focus {
        transition: all 0.3s ease-in-out;
    }
}

@media screen and (max-width: 1149px) {
    nav {
        padding: 5px 10px;
    }
    
    nav .logo img {
        height: 60px;
    }
}

@media screen and (max-width: 991px) {
    nav {
        font-size: 14px;
        padding: 5px 0;

        & .logo img {
            height: 40px;
        }

        & ul li:not(:last-child) {
            margin-right: 10px;
        }

        & ul li:last-child {
            margin-right: 0px;
        }
    }
}

@media screen and (max-width: 767px) {
    nav {
        display: none;
    }
}



// SWIPER

.swiper-container {
    width: 100%;
    height: auto;
    position: relative;
}

.swiper-slide {
    text-align: center;
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: relative;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.swiper-pagination {
    position: absolute;
    bottom: 50px !important;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: auto;
    white-space: nowrap;
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background: rgba(255, 255, 255, 0.3) !important;
    opacity: 1 !important;
    margin: 0 10px; 
}

.swiper-pagination-bullet-active {
    background: #e4181f !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet:hover {
    background: #e4181f !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: #000;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    padding: 0 10px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #e4181f;
    color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 25px !important;
    color: #fff;
    font-weight: 500;
}

.swiper-button-next::after {
    margin-left: 3px;
}

.swiper-button-prev::after {
    margin-right: 3px;
}

.swiper-text {
    position: absolute;
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: calc(36px + 1.5vw);
    font-size: calc(42px + 1.5vw);
    z-index: 100;
    top: 35%;
    width: 100%;
    font-family: Roboto;
}

.basic-button {
    background-color: rgb(27, 26, 47);
    color: #fff;
    text-transform: uppercase;
}

.basic-button:hover {
    background-color: #e4181f;
}

.basic-button:active {
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 5px 5px 15px 5px rgba(0,0,0,0);
}

.button-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 65%;

    & a {
        text-decoration: none;
    }
}

.apply-button {
    position: relative;
    cursor: pointer;
    height: 58px;
    width: 130px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-family: Rubik;
    z-index: 25;
}

@media screen and (max-width: 1149px) {
    .swiper-text {
        font-size: calc(32px + 1.5vw);
    }

    .apply-button {
        height: 45px;
        width: 110px;
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    .swiper-text {
        font-size: calc(28px + 1.5vw);
    }

    .apply-button {
        height: 40px;
        width: 100px;
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .swiper-container {
        width: auto;
        height: 100%;
    }

    .swiper-slide img {
        width: auto;
        height: 50%;
    }
}

// VIDEO SECTION
.video {
    margin: 130px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    & video {
        padding: 0 15px;
        width: 590px;
    }

    & img {
        padding: 0 15px;
    }
}

@media screen and (max-width: 1149px) {
    .video {
        flex-direction: column;

        & video {
            padding: 25px 0;
        }
    }
}

@media screen and (max-width: 767px) {
    .video {
        width: 90%;

        & video {
            width: 100%;
            margin-left: 10%;
        }

        & img {
            width: 100%;
            margin-left: 10%;
        }
    }
}

// ADVANTAGES 
.advantages {
    font-family: Poppins;
    color: #333146;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    margin-bottom: 130px;

    & i {
        font-size: 60px;
    }
}

@media screen and (max-width: 1149px) {
    .advantages {
        max-width: 90%;
    }
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.advantages-card {
    box-shadow: 0px 0px 90px 0px rgba(47, 47, 47, 0.1);
    text-align: center;
    position: relative;
    padding: 50px 40px 40px;
}

.card-container:nth-of-type(odd) .advantages-card {
    border-radius: 40px 0px 40px 0px;
}

.card-container:nth-of-type(even) .advantages-card {
    border-radius: 0px 40px 0px 40px;
}

.advantages-card::before {
    height: 2px;
    width: 90%;
    left: 0;
    background: #1b1a2f;
    bottom: 0;
    position: absolute;
    content: "";
    transition: all 0.3s ease-in-out;
}

.advantages-card:hover {
    color: #e4181f;
    transition: all 0.3s ease-in-out;
}

.advantages-card:hover::before {
    background: #e4181f;
}

#second-card::before {
    left:auto;
    right: 0;
    background: #e4181f;
}

#second-card {
    & i {
        color: #e4181f;
    }
}

.card-container {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
}

.card-title {
    font-weight: 700;
    font-size: 25px;
    padding: 0px;
    line-height: 34px;
}

.card-description {
    font-size: 15px;
    font-weight: 300;
    padding-top: 15px;
    margin: 0;
    color: #6a7a83;
    font-family: Rubik;
}

@media screen and (max-width: 767px) {
    .cards-container {
        flex-direction: column;
    }
    
    .card-container {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 10px 0;
    }
}

// COURSES
.courses {
    font-family: Poppins;
    color: #333146;
    padding: 130px 0 80px;
    background: #f6f8fa;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.courses-container {
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: flex-start;
}

.course-card {
    flex: 0 0 30%; 
    max-width: 30%;
    margin: 50px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    background: #fff;
}

.image-wrapper {
    width: 100%;
    overflow: hidden; 
}

.course-link {
    display: block;
    width: 100%;
}

.courses-link {
    text-decoration: none;
    color: #333146;
    transition: all 0.3s ease-in-out;
}

.courses-link:hover {
    color:#e4181f;
    transition: all 0.3s ease-in-out;
}

.course-card-image {
    width: 100%;
    transform: scale(1) rotate(0deg);
    transition: all 0.3s ease-in-out;
}

.course-card-image:hover {
    transform: scale(1.1) rotate(4deg);
}

.courses-info {
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.courses-title {
    color: #323232;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    margin-top: 15px;
}

.courses-more-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 15px;
}

.courses-button {
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
    background: #e4181f;
    font-weight: 500;
    font-family: Rubik;
    transition: all 0.3s ease-in-out;
}

.courses-button:hover {
    background: #1b1a2f;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
    .course-card {
        flex: 0 0 90%;
        max-width: 90%;
    }
}

// FORM SECTION

.blur {
    background-image: url('../source/images/counter-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative; /* Ensures the background covers the entire section */
    background-color: rgba(0, 0, 0, 0.4); /* Fallback color */
}

.info-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 130px 0;
    backdrop-filter: blur(10px);
}

.info-form {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0px 0px 90px 0px rgba(47, 47, 47, 0.1); 
    width: 20%;
    margin-right: 50px;
}

.info-form h2 {
    font-size: 36px;
    color: #333146;
    letter-spacing: 0;
    text-align: center;
    font-weight: 700;
}

.info-form .form-group {
    margin-bottom: 15px;
}

.info-form label {
    display: flex;
    align-items: center;
}

.info-form .icon {
    margin-right: 15px;
}

.info-form input {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #d7d7d7;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    border: none;
    border-bottom: 1px solid #d7d7d7;
    transition: border-bottom-color 0.3s ease;
    font-family: Rubik;
    height: 50px;
    font-size: 15px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    outline: none; 
    border-bottom-color: #1b1a2f; 
}


label i {
    color: #d7d7d7;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px 0;
}

.info-form button {
    padding: 0 55px;
    height: 50px;
    background-color: #1b1a2f;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    font-family: Rubik;
}

.info-content {
    padding: 100px 0 0 60px;
    max-width: 40%;
}

.info-content h3 {
    font-size: 1.75rem;
    line-height: 70px;
    font-weight: 700;
    color: #fff;
}

.highlight {
    color: #ffb606;
}

.info-content h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    color: #fff;
    font-family: Poppins;
}

.info-content p {
    font-size: 20px;
    color: #fff;
    padding-top: 30px;
    font-family: Rubik;
    font-weight: 400;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.stat-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stat-number {
    font-size: 40px;
    color: #e4181f;
    font-weight: 700;
}

.stat-label {
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}

@media screen and (max-width: 1149px) {
    .info-section {
        flex-direction: column;
        align-items: center;
    }

    .info-form {
        width: 60% !important;
        margin-right: 0 !important;
    }

    .info-content {
        max-width: 75%;
        filter: drop-shadow(0 0 1px rgba(0,0,0,0.6));
    }
}

@media screen and (max-width: 767px) {
    .info-content {
        padding: 70px 10px;
    }

    .stat-item {
        align-items: center;
    }
}


// NEWS
.latest-news {
    font-family: Poppins;
    color: #333146;
    padding: 130px 0 80px;
    background: #fff;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-container {
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: flex-start;
}

.news-card {
    flex: 0 0 30%; 
    max-width: 30%;
    margin: 50px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    background: #fff;
    box-shadow: 0px 0px 60px 0px rgba(47, 47, 47, 0.1);
}

.image-wrapper {
    width: 100%;
    overflow: hidden; 
}

.news-link {
    display: block;
    width: 100%;
}

.news-card-image {
    width: 100%;
    transform: scale(1) rotate(0deg);
    transition: all 0.3s ease-in-out;
}

.news-card-image:hover {
    transform: scale(1.1) rotate(4deg);
}

.news-info {
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.news-title {
    color: #323232;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    margin-top: 15px;
}

.news-description {
    margin-top: 10px;
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

.news-more-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 15px;
}

.news-button {
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
    background: #e4181f;
    font-weight: 500;
    font-family: Rubik;
}

@media screen and (max-width: 767px) {
    .news-card {
        flex: 0 0 90%;
        max-width: 90%;
    }
}

// BOOKS 
.books {
    font-family: Poppins;
    color: #333146;
    padding: 130px 0 80px;
    background: #fff;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.draggable {
    position: absolute;
    right: 25%;
    top: 27%;
}

.swiper {
    max-width: 1240px;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.books-swiper .swiper-slide img {
    display: block;
    width: 90%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 1149px) {

    .swiper {
        max-width: 90%;
    }

    .books-swiper .swiper-slide img {
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .books-swiper .swiper-slide img {
        width: 100%;
    }
}

// START NOW
.start-now {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    color: #333146;
    font-weight: 700;

    & h2 {
        letter-spacing: normal;
        font-size: 36px;
        line-height: 54px;
        padding-bottom: 50px;
        text-align: center;
    }

    & img {
        width: 100%;
    }

    & a {
        text-decoration: none;
    }
}

.start-wrapper {
    max-width: 800px;
    padding-bottom: 100px;
}

.start-button {
    font-size: 14px;
    line-height: 60px;
    font-family: Rubik;
    padding: 0 45px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 5px;
    background-color: #e4181f;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.start-button:hover {
    background-color: #1b1a2f;
    transition: 0.3s ease-in-out;
}

// FOOTER 
footer {
    position: relative;
    width: 100%;    
    background-color: #1b1a2f;
    color: #fff;
    padding: 40px 20px;
    background-image: url('../source/images/footer-shape-1.png');
    background-size: cover;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;

    & p a {
        text-decoration: none;
        color: #e4181f;
        font-weight: 500;
    }
}

.footer-column:not(:first-child) {
    margin-left: 100px;
}

.footer-column img {
    width: 150px;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-logo {
    max-width: 100%;
    height: auto;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-column address, .footer-column p {
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #e4181f;
}

.footer-social {
    display: flex;
    gap: 10px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.footer i {
    padding-right: 10px;
}

.footer-social a:hover {
    color: #e4181f;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom a {
    color: #e4181f;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.footer-shapes {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-shapes img {
    width: 100%;
}

@media (max-width: 991px) {
    .footer-container {
        flex-wrap: wrap;
    }
    .footer-column {
        flex: 0 0 48%;
        max-width: 48%;
    }
}

@media (max-width: 767px) {
    .footer-column {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    h2 {
        text-align: center;
    }
}